<%= render "layouts/header", home: @home %>
<%= form_with(model: @project, url: admin_project_path(@project), local: true, method: :patch) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :responsabilities %>
    <%= f.text_area :responsabilities %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :finish_date %>
    <%= f.date_field :finish_date %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render "layouts/footer", home: @home %>