<%= render "layouts/header", home: @home %>
<h1>Contact Us</h1>
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"> 
    <%= value %>    
  </div>
  <% end %>

<%= form_with(model: @contact, url: new_contact_path, local: true) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, required: true %>
  </div>

  
  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
<%= render "layouts/footer", home: @home %>


